
#our database url in server for production
PROD_DATABASE_URL= this_is_databases_when_production

#ocreate your own database to development this apps
DATABASE_URL=postgres://postgres:your-password@localhost/name-of-apps

#node env
NODE_ENV=mode

#jwt secret
JWT_SECRET=your-key

# NEXTAUTH_URL= CANONICAL_URL_WHEN_YOU_DEPLOY_TO_PROD

GITHUB_SECRET=YOUR_GITHUB_API_CLIENT_SECRET
GITHUB_ID=YOUR_GITHUB_API_CLIENT_ID

GOOGLE_SECRET=YOUR_GOOGLE_API_CLIENT_SECRET
GOOGLE_ID=YOUR_GOOGLE_API_CLIENT_ID
